<settings>
    <setting id="Disable.BannerWallInfo" type="bool">false</setting>
    <setting id="Disable.TopBar" type="bool">false</setting>
    <setting id="Enable.RightListInfoPopup" type="bool">false</setting>
    <setting id="AskedDefaultBackground" type="bool">true</setting>
    <setting id="Enable.MyFlix.OpenCase" type="bool">false</setting>
    <setting id="Enable.LowListArtistLogo" type="bool">false</setting>
    <setting id="Disable.FanartListView" type="bool">false</setting>
    <setting id="Disable.IconsView" type="bool">false</setting>
    <setting id="Enable.FullscreenWallInfoPopup" type="bool">false</setting>
    <setting id="Disable.ShowCase.MovieInfo" type="bool">false</setting>
    <setting id="Disable.Extrafanart" type="bool">false</setting>
    <setting id="Disable.ShowCase.FloorInfo.seasons" type="bool">false</setting>
    <setting id="noindicatorgallerymovies" type="bool">false</setting>
    <setting id="Disable.RightListView" type="bool">false</setting>
    <setting id="Enable.LowList.SlidingMovieSetDiscart" type="bool">false</setting>
    <setting id="List.TVShowCases" type="bool">false</setting>
    <setting id="Enable.HourMinuteDuration" type="bool">false</setting>
    <setting id="noindicatorshowcase" type="bool">false</setting>
    <setting id="Disable.JukeBox" type="bool">false</setting>
    <setting id="Enable.GlobalWidgetBack" type="bool">false</setting>
    <setting id="Disable.EpisodeView" type="bool">false</setting>
    <setting id="Disable.BoxsetBrochure" type="bool">false</setting>
    <setting id="Disable.PanelView" type="bool">false</setting>
    <setting id="disclowlist" type="bool">false</setting>
    <setting id="Enable.ShowCase.Covers" type="bool">false</setting>
    <setting id="rightlistlogotv" type="bool">false</setting>
    <setting id="rightlistlogoartist" type="bool">false</setting>
    <setting id="Disable.Showcase.MovieGenre" type="bool">false</setting>
    <setting id="WarnedOnFileManager" type="bool">true</setting>
    <setting id="Disable.ShowBackgroundVis" type="bool">false</setting>
    <setting id="Enable.Wall.FloorInfo.tvshows" type="bool">false</setting>
    <setting id="Enable.SlimList" type="bool">false</setting>
    <setting id="Disable.PlayerControlButtons" type="bool">false</setting>
    <setting id="Enable.ScreenshotMode" type="bool">false</setting>
    <setting id="Enable.Wall.BannerLogo" type="bool">false</setting>
    <setting id="Enable.Landscape.Logo" type="bool">false</setting>
    <setting id="503.InfoPanel" type="bool">false</setting>
    <setting id="Enable.Shift.Small" type="bool">false</setting>
    <setting id="nohighlist" type="bool">false</setting>
    <setting id="Disable.Musicinfo" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY BACKGROUNDS 1\20.jpg" type="bool">true</setting>
    <setting id="KioskMode.Enabled" type="bool">false</setting>
    <setting id="Enable.CasesLiveBG" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY BACKGROUNDS 1\dc.jpg" type="bool">true</setting>
    <setting id="Disable.RightList.Mediaflags" type="bool">false</setting>
    <setting id="Enable.ManualInfoPanel" type="bool">false</setting>
    <setting id="Enable.IconsInfoPopup" type="bool">false</setting>
    <setting id="Enable.Showcase.TVShowGenre" type="bool">false</setting>
    <setting id="useclearcases" type="bool">false</setting>
    <setting id="Enable.Logo.MovieSetList" type="bool">false</setting>
    <setting id="Enable.LandscapeNoFlow" type="bool">false</setting>
    <setting id="Disable.FullscreenInfoLogo" type="bool">false</setting>
    <setting id="noextendedinfotvshows" type="bool">false</setting>
    <setting id="launchmusicfullscreen" type="bool">false</setting>
    <setting id="Enable.LowListMoviePlot" type="bool">false</setting>
    <setting id="HomeMenuNavVar" type="bool">false</setting>
    <setting id="noshowcaseflow" type="bool">false</setting>
    <setting id="Enable.ShowCase.Logo" type="bool">false</setting>
    <setting id="RightList.AlternateMusic" type="bool">false</setting>
    <setting id="Enable.AlternateInfowall" type="bool">false</setting>
    <setting id="Disable.ShiftView" type="bool">false</setting>
    <setting id="Disable.RightList.EpisodeMediaflags" type="bool">false</setting>
    <setting id="MakeItSnow" type="bool">false</setting>
    <setting id="Disable.WallView" type="bool">false</setting>
    <setting id="Enable.Wall.FloorInfo.seasons" type="bool">false</setting>
    <setting id="Disable.Wall.Logo" type="bool">false</setting>
    <setting id="Disable.Videoinfo" type="bool">false</setting>
    <setting id="Enable.Wall.SeasonBanner" type="bool">false</setting>
    <setting id="Enable.ArtistSlideshowOnHome" type="bool">false</setting>
    <setting id="Enable.BannerWallInfoPopup" type="bool">false</setting>
    <setting id="Disable.BigListView" type="bool">false</setting>
    <setting id="Enable.Rightlist.HidePoster.Movies" type="bool">false</setting>
    <setting id="noextendedinfomovies" type="bool">false</setting>
    <setting id="Enable.SmallIconsInfoPopup" type="bool">false</setting>
    <setting id="Disable.ShowCase.TVInfo" type="bool">false</setting>
    <setting id="Enable.MyFlix.TVLandscape" type="bool">false</setting>
    <setting id="Enable.ManualNewInfoPanel" type="bool">false</setting>
    <setting id="Disable.InfoWallView" type="bool">false</setting>
    <setting id="Enable.MyFlix.EpisodeLogo" type="bool">false</setting>
    <setting id="Enable.Landscape.SeasonGenre" type="bool">false</setting>
    <setting id="rightlistalternate" type="bool">false</setting>
    <setting id="highlistlogo" type="bool">false</setting>
    <setting id="Disable.Landscape.NextAired.episodes" type="bool">false</setting>
    <setting id="Enable.ShowCase.FloorInfo.movies" type="bool">false</setting>
    <setting id="Disable.FanartTitle" type="bool">false</setting>
    <setting id="Disable.ShowCaseSetCases" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY BACKGROUNDS 1\dc 1.jpg" type="bool">true</setting>
    <setting id="noindicatorbiglistepisode" type="bool">false</setting>
    <setting id="Disable.UnwatchedIcon" type="bool">false</setting>
    <setting id="rightlistlogomovie" type="bool">false</setting>
    <setting id="Enable.MyFlix.MovieLogo" type="bool">false</setting>
    <setting id="Disable.Wall.MovieGenre" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="Disable.Netflix.Pause" type="bool">false</setting>
    <setting id="Enable.ShowCase.FloorInfo.seasons" type="bool">false</setting>
    <setting id="Disable.RightlistThumb" type="bool">false</setting>
    <setting id="WarnedOnFullscreenInfo" type="bool">false</setting>
    <setting id="Disable.MyFlixView" type="bool">false</setting>
    <setting id="Enable.Showcase.SeasonGenre" type="bool">false</setting>
    <setting id="Home.Hide" type="bool">false</setting>
    <setting id="Enable.Autocomplete" type="bool">false</setting>
    <setting id="boxsetmod" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY BACKGROUNDS 1\fav 1.jpg" type="bool">true</setting>
    <setting id="Enable.Landscape.FloorInfo.episodes" type="bool">false</setting>
    <setting id="lowermainmenu" type="bool">true</setting>
    <setting id="Disable.GalleryView" type="bool">false</setting>
    <setting id="lowlistimdblogo" type="bool">false</setting>
    <setting id="Disable.MyFlix.Mediaflags" type="bool">false</setting>
    <setting id="Enable.InfoWall.MovieBanners" type="bool">false</setting>
    <setting id="Disable.Wall.TVInfo" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY BACKGROUNDS 1\15.jpg" type="bool">true</setting>
    <setting id="ViewInfoPlotToggle" type="bool">false</setting>
    <setting id="Disable.MyFlixInfo" type="bool">false</setting>
    <setting id="Disable.Landscape.MovieGenre" type="bool">false</setting>
    <setting id="Enable.HideRatings" type="bool">false</setting>
    <setting id="discrightlist" type="bool">false</setting>
    <setting id="PausedLabel" type="bool">false</setting>
    <setting id="Enable.Set.LiveBackground" type="bool">false</setting>
    <setting id="Enable.MyFlix.TVLogo" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY TOOLS\Kodi Pics\Kids 1.jpg" type="bool">true</setting>
    <setting id="alternatelayoutepisode" type="bool">false</setting>
    <setting id="rightlistalternatetv" type="bool">false</setting>
    <setting id="Disable.LowListView" type="bool">false</setting>
    <setting id="Disable.RightlistAlbum" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Addon" type="bool">true</setting>
    <setting id="Disable.LandscapeView" type="bool">false</setting>
    <setting id="oscarlogo" type="bool">false</setting>
    <setting id="noindicatorfanartlistepisodes" type="bool">false</setting>
    <setting id="Disable.BigFanView" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY BACKGROUNDS 1\16.jpg" type="bool">true</setting>
    <setting id="Disable.NextAired" type="bool">true</setting>
    <setting id="Enable.AutoOpenMediaMenuOnMouseOver" type="bool">false</setting>
    <setting id="Disable.TriPanelView" type="bool">false</setting>
    <setting id="Enable.StartupIntro" type="bool">false</setting>
    <setting id="List.MovieCases" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY BACKGROUNDS 1\system 2.jpg" type="bool">true</setting>
    <setting id="Enable.Wall.Cases" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY BACKGROUNDS 1\3d.png" type="bool">true</setting>
    <setting id="coloredflags" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY BACKGROUNDS 1\30.jpg" type="bool">true</setting>
    <setting id="WarnedOnMusicVizInfo" type="bool">false</setting>
    <setting id="Disable.SmallIconsView" type="bool">false</setting>
    <setting id="Disable.RightList.TVMediaflags" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY BACKGROUNDS 1\fit.jpg" type="bool">true</setting>
    <setting id="Disable.Resumable" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY BACKGROUNDS 1\21.jpg" type="bool">true</setting>
    <setting id="Enable.ShowCase.SeasonBanner" type="bool">false</setting>
    <setting id="showcasemod" type="bool">false</setting>
    <setting id="lowlistlogo" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY BACKGROUNDS 1\12.png" type="bool">true</setting>
    <setting id="noindicatorlandscape" type="bool">false</setting>
    <setting id="Disable.SearchButton" type="bool">false</setting>
    <setting id="Enable.Rightlist.HidePoster.episodes" type="bool">false</setting>
    <setting id="Disable.Landscape.FloorInfo.episodes" type="bool">false</setting>
    <setting id="Enable.ListWidgetAutoscroll" type="bool">false</setting>
    <setting id="Enable.Shift.IMDb" type="bool">false</setting>
    <setting id="Disable.Fanart" type="bool">false</setting>
    <setting id="Enable.Landscape.TVShowGenre" type="bool">false</setting>
    <setting id="HorizontalListNav" type="bool">false</setting>
    <setting id="Disable.ShowCaseView" type="bool">false</setting>
    <setting id="alternatebiglistlayout" type="bool">false</setting>
    <setting id="Disable.IconsMenuLabel" type="bool">false</setting>
    <setting id="Enable.RightlistCDArt" type="bool">false</setting>
    <setting id="Enable.MyFlix.Cases" type="bool">false</setting>
    <setting id="Enable.Shift.Covers" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY TOOLS\Kodi Pics\Stand up 1.jpg" type="bool">true</setting>
    <setting id="Disable.BannerWallView" type="bool">false</setting>
    <setting id="inforightlist" type="bool">false</setting>
    <setting id="Disable.ScrollLabel" type="bool">false</setting>
    <setting id="CenteredInfoLine" type="bool">true</setting>
    <setting id="Disable.Wall.MovieInfo" type="bool">false</setting>
    <setting id="togglelowlistcovers" type="bool">false</setting>
    <setting id="Enable.Wall.SeasonGenre" type="bool">false</setting>
    <setting id="bigfanimdblogo" type="bool">false</setting>
    <setting id="Enable.InfoWall.TVBanners" type="bool">false</setting>
    <setting id="weatherfanart.multi" type="bool">false</setting>
    <setting id="Enable.Wall.Logo" type="bool">false</setting>
    <setting id="Disable.PostersView" type="bool">false</setting>
    <setting id="Enable.RightListMusicInfo" type="bool">false</setting>
    <setting id="Enable.ShowCase.TVCovers" type="bool">false</setting>
    <setting id="rightlistcovers" type="bool">false</setting>
    <setting id="Enable.Wall.AlbumLabels" type="bool">false</setting>
    <setting id="imdblogo" type="bool">false</setting>
    <setting id="Enable.Shift.Discart" type="bool">false</setting>
    <setting id="Disable.ShowBackgroundVideo" type="bool">false</setting>
    <setting id="Enable.Wall.TVShowGenre" type="bool">false</setting>
    <setting id="Disable.FullscreenWallView" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY BACKGROUNDS 1\Adults 1.png" type="bool">true</setting>
    <setting id="Enable.FullscreenFanart" type="bool">false</setting>
    <setting id="Enable.Logo.UnfocusFade" type="bool">false</setting>
    <setting id="noindicatorfanartlistmovies" type="bool">false</setting>
    <setting id="Enable.VisibleSubmenu" type="bool">true</setting>
    <setting id="Enable.AutoScroll" type="bool">false</setting>
    <setting id="Disable.BannerPlexView" type="bool">false</setting>
    <setting id="Enable.SmallerFullscreenWallPosters" type="bool">false</setting>
    <setting id="Enable.MyFlix.MovieLandscape" type="bool">false</setting>
    <setting id="Enable.Rightlist.HidePoster.seasons" type="bool">false</setting>
    <setting id="Enable.Logo.clearart" type="bool">false</setting>
    <setting id="noindicatorbiglist" type="bool">false</setting>
    <setting id="Enable.Wall.FloorInfo.programs" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY BACKGROUNDS 1\system.jpg" type="bool">true</setting>
    <setting id="EnableBigFanPlot" type="bool">false</setting>
    <setting id="Enable.ShowCase.BannerLogo" type="bool">false</setting>
    <setting id="skinshortcuts-background-J:\MY TOOLS\Kodi Pics\Sports 1.jpg" type="bool">true</setting>
    <setting id="Disable.LogoView" type="bool">false</setting>
    <setting id="Disable.SongListView" type="bool">false</setting>
    <setting id="Enable.AnimatedBackgrounds" type="bool">false</setting>
    <setting id="Enable.Rightlist.HidePoster.tvshows" type="bool">false</setting>
    <setting id="504.NoTopBar" type="string"></setting>
    <setting id="Overlay.Toggle" type="string"></setting>
    <setting id="53.Sets.InfoPanel" type="string"></setting>
    <setting id="BigListThemeLabelColor" type="string"></setting>
    <setting id="53.Sets.DisableOverlay" type="string"></setting>
    <setting id="UnfocusedSubMenuColor" type="string"></setting>
    <setting id="57.Seasons.InfoPanel" type="string"></setting>
    <setting id="RSS.Position" type="string"></setting>
    <setting id="Movies.Fallback" type="string"></setting>
    <setting id="53.Seasons.ViewFlags" type="string"></setting>
    <setting id="weathericons.path" type="string"></setting>
    <setting id="507.TV.DisableOverlay" type="string"></setting>
    <setting id="53.TV.DisableOverlay" type="string"></setting>
    <setting id="56.NoTopBar" type="string"></setting>
    <setting id="skinshortcuts-widget-7" type="string">Addon</setting>
    <setting id="RSSFeedColor" type="string"></setting>
    <setting id="601.Movies.InfoPanel" type="string"></setting>
    <setting id="50.NoTopBar" type="string">Off</setting>
    <setting id="507.Movies.DisableOverlay" type="string"></setting>
    <setting id="52.Episodes.DisableOverlay" type="string"></setting>
    <setting id="VerticalMenuRSS.Position" type="string"></setting>
    <setting id="FocusedSubMenuColor" type="string"></setting>
    <setting id="52.TVShows.InfoPanel" type="string"></setting>
    <setting id="Videos.Fallback" type="string"></setting>
    <setting id="58.TV.DisableOverlay" type="string"></setting>
    <setting id="52.Sets.InfoPanel" type="string"></setting>
    <setting id="headerimagetype" type="string">true</setting>
    <setting id="56.Movies.DisableOverlay" type="string"></setting>
    <setting id="601.TV.DisableOverlay" type="string"></setting>
    <setting id="59.NoTopBar" type="string"></setting>
    <setting id="506.movies.ViewFloorStatus" type="string"></setting>
    <setting id="501.NoTopBar" type="string"></setting>
    <setting id="HighlightBarColor" type="string"></setting>
    <setting id="53.TV.ViewFlags" type="string"></setting>
    <setting id="FanartListThemeLabelColor" type="string"></setting>
    <setting id="56.Sets.DisableOverlay" type="string"></setting>
    <setting id="Widget.CaseInfo" type="string"></setting>
    <setting id="509.Movies.DisableOverlay" type="string"></setting>
    <setting id="53.Movies.ViewFlags" type="string"></setting>
    <setting id="502.NoTopBar" type="string"></setting>
    <setting id="602.NoTopBar" type="string"></setting>
    <setting id="CustomDefaultBackground.path" type="string">special://skin/backgrounds/fallback_movies.jpg</setting>
    <setting id="Widget.Back" type="string"></setting>
    <setting id="509.TV.DisableOverlay" type="string"></setting>
    <setting id="52.TV.DisableOverlay" type="string"></setting>
    <setting id="506.episodes.ViewFloorStatus" type="string"></setting>
    <setting id="59.TVShows.InfoPanel" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">Addon</setting>
    <setting id="52.Seasons.InfoPanel" type="string"></setting>
    <setting id="BigListItemLabelColor" type="string"></setting>
    <setting id="499.TV.DisableOverlay" type="string"></setting>
    <setting id="53.Movies.DisableOverlay" type="string"></setting>
    <setting id="51.TV.DisableOverlay" type="string"></setting>
    <setting id="FanartListUnWatchedEpColor" type="string"></setting>
    <setting id="57.Sets.InfoPanel" type="string"></setting>
    <setting id="57.TVShows.InfoPanel" type="string"></setting>
    <setting id="weathericons.ext" type="string"></setting>
    <setting id="TriPanelThemeLabelColor" type="string"></setting>
    <setting id="503.NoTopBar" type="string"></setting>
    <setting id="TVShows.Fallback" type="string"></setting>
    <setting id="UnWatchedEpColor" type="string"></setting>
    <setting id="weatherfanart.ext" type="string"></setting>
    <setting id="Widget.Trans" type="string"></setting>
    <setting id="52.Episodes.ViewFlags" type="string"></setting>
    <setting id="ColorboxComp" type="string">comp:</setting>
    <setting id="55.NoTopBar" type="string"></setting>
    <setting id="507.NoTopBar" type="string"></setting>
    <setting id="WidgetBackgroundColor" type="string"></setting>
    <setting id="skinshortcuts-widget-2" type="string">Addon</setting>
    <setting id="53.Seasons.InfoPanel" type="string"></setting>
    <setting id="56.TV.DisableOverlay" type="string"></setting>
    <setting id="51.Movies.DisableOverlay" type="string"></setting>
    <setting id="ColorboxMain" type="string">main:</setting>
    <setting id="56.Seasons.DisableOverlay" type="string"></setting>
    <setting id="509.NoTopBar" type="string"></setting>
    <setting id="603.NoTopBar" type="string"></setting>
    <setting id="skinshortcuts-widget-5" type="string">Addon</setting>
    <setting id="UnFocusedMainMenuIconLabelColor" type="string"></setting>
    <setting id="503.Movies.ViewFlags" type="string"></setting>
    <setting id="53.NoTopBar" type="string"></setting>
    <setting id="51.NoTopBar" type="string"></setting>
    <setting id="59.Movies.InfoPanel" type="string"></setting>
    <setting id="RightListUnWatchedEpColor" type="string"></setting>
    <setting id="57.NoTopBar" type="string"></setting>
    <setting id="skinshortcuts-widget-4" type="string">Addon</setting>
    <setting id="592.NoTopBar" type="string"></setting>
    <setting id="58.NoTopBar" type="string"></setting>
    <setting id="FocusedMainMenuColor" type="string"></setting>
    <setting id="Showcase.Delay" type="string"></setting>
    <setting id="591.NoTopBar" type="string"></setting>
    <setting id="57.TV.DisableOverlay" type="string"></setting>
    <setting id="MyFlixUnWatchedEpColor" type="string"></setting>
    <setting id="ThemeHomeSystemBarsColor" type="string"></setting>
    <setting id="53.Movies.InfoPanel" type="string"></setting>
    <setting id="59.Movies.ViewFlags" type="string"></setting>
    <setting id="53.Seasons.DisableOverlay" type="string"></setting>
    <setting id="499.NoTopBar" type="string"></setting>
    <setting id="52.NoTopBar" type="string"></setting>
    <setting id="507.Episodes.DisableOverlay" type="string"></setting>
    <setting id="601.TVShows.InfoPanel" type="string"></setting>
    <setting id="Seekbar.RightLabel" type="string"></setting>
    <setting id="LowListUnWatchedEpColor" type="string"></setting>
    <setting id="52.TV.ViewFlags" type="string"></setting>
    <setting id="500.NoTopBar" type="string"></setting>
    <setting id="TriPanelLayout" type="string"></setting>
    <setting id="503.Seasons.DisableOverlay" type="string"></setting>
    <setting id="MusicGenreFanartPath" type="string"></setting>
    <setting id="500.Sets.DisableOverlay" type="string"></setting>
    <setting id="601.NoTopBar" type="string"></setting>
    <setting id="57.Movies.InfoPanel" type="string"></setting>
    <setting id="609.Sets.DisableOverlay" type="string"></setting>
    <setting id="headertexttype" type="string"></setting>
    <setting id="601.Movies.DisableOverlay" type="string"></setting>
    <setting id="499.Movies.DisableOverlay" type="string"></setting>
    <setting id="505.NoTopBar" type="string"></setting>
    <setting id="FocusedMainMenuIconLabelColor" type="string"></setting>
    <setting id="ColorboxBlursize" type="string">10</setting>
    <setting id="TopBarColor" type="string"></setting>
    <setting id="52.Movies.DisableOverlay" type="string"></setting>
    <setting id="ThemeOSDProgressColor" type="string"></setting>
    <setting id="609.NoTopBar" type="string"></setting>
    <setting id="ThemeHomeMenuBarColor" type="string"></setting>
    <setting id="MyFlix.Delay" type="string"></setting>
    <setting id="LowListThemeLabelColor" type="string"></setting>
    <setting id="skinshortcuts-widget-6" type="string">Addon</setting>
    <setting id="VideoGenreFanartPath" type="string"></setting>
    <setting id="MyFlix.Dimmer" type="string"></setting>
    <setting id="500.TV.DisableOverlay" type="string"></setting>
    <setting id="54.NoTopBar" type="string"></setting>
    <setting id="57.Seasons.DisableOverlay" type="string"></setting>
    <setting id="FanartTimePerImage" type="string"></setting>
    <setting id="System.Fallback" type="string"></setting>
    <setting id="59.TV.ViewFlags" type="string"></setting>
    <setting id="LogoUnWatchedEpColor" type="string"></setting>
    <setting id="500.Movies.DisableOverlay" type="string"></setting>
    <setting id="pathlogosartists" type="string"></setting>
    <setting id="ThemeHomeLabelColor" type="string"></setting>
    <setting id="52.Episodes.InfoPanel" type="string"></setting>
    <setting id="506.NoTopBar" type="string"></setting>
    <setting id="MainMenu.Layout" type="string">3</setting>
    <setting id="508.NoTopBar" type="string"></setting>
    <setting id="509.Episodes.DisableOverlay" type="string"></setting>
    <setting id="MusicVideos.Fallback" type="string"></setting>
    <setting id="ThemeLabelColor" type="string"></setting>
    <setting id="506.seasons.ViewFloorStatus" type="string"></setting>
    <setting id="MyFlixThemeLabelColor" type="string"></setting>
    <setting id="506.tvshows.ViewFloorStatus" type="string"></setting>
    <setting id="609.Movies.DisableOverlay" type="string"></setting>
    <setting id="503.TV.ViewFlags" type="string"></setting>
    <setting id="WidgetHighlightBarColor" type="string"></setting>
    <setting id="609.TV.DisableOverlay" type="string"></setting>
    <setting id="53.TVShows.InfoPanel" type="string"></setting>
    <setting id="500.Seasons.DisableOverlay" type="string"></setting>
    <setting id="52.Movies.InfoPanel" type="string"></setting>
    <setting id="VerticalMenuSystemBar.Position" type="string"></setting>
    <setting id="BigListFocusedLabelColor" type="string"></setting>
    <setting id="skinshortcuts-widget-3" type="string">Addon</setting>
    <setting id="UnfocusedMainMenuColor" type="string"></setting>
    <setting id="weatherfanart.path" type="string"></setting>
    <setting id="57.Movies.DisableOverlay" type="string"></setting>
    <setting id="503.Seasons.ViewFlags" type="string"></setting>
    <setting id="InfoPopup.Delay" type="string"></setting>
    <setting id="InfoPanel.Delay" type="string"></setting>
    <setting id="503.TV.DisableOverlay" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="58.Movies.DisableOverlay" type="string"></setting>
    <setting id="503.Movies.DisableOverlay" type="string"></setting>
    <setting id="52.Movies.ViewFlags" type="string"></setting>
    <setting id="RightListThemeLabelColor" type="string"></setting>
</settings>
