<settings>
    <setting id="TRAKT_ACCESS_TOKEN" value="" />
    <setting id="TRAKT_EXPIRES_AT" value="" />
    <setting id="TRAKT_REFRESH_TOKEN" value="" />
    <setting id="allow_debrid" value="true" />
    <setting id="allow_openload" value="false" />
    <setting id="allow_the_video_me" value="false" />
    <setting id="allow_vidup_me" value="false" />
    <setting id="autostart_queue" value="true" />
    <setting id="cache_folder" value="special://profile/addon_data/plugin.video.ds/" />
    <setting id="current_version" value="0" />
    <setting id="debug" value="false" />
    <setting id="default_link" value="BOTH" />
    <setting id="disable_messages" value="false" />
    <setting id="disable_metadata_dialog" value="false" />
    <setting id="disable_service" value="true" />
    <setting id="dlimage" value="false" />
    <setting id="enable_gifs" value="true" />
    <setting id="enable_notification" value="true" />
    <setting id="enable_offensive" value="false" />
    <setting id="first_run" value="false" />
    <setting id="hide_help" value="false" />
    <setting id="include_watched_queue" value="false" />
    <setting id="language_id" value="system" />
    <setting id="lastfm_api_key" value="25324513a9a7ef270fa50d25d1d6e064" />
    <setting id="lastfm_secret" value="28256ba9cd34a6549da90e4c8c85ad42" />
    <setting id="link_fallthrough" value="true" />
    <setting id="message_xml_url" value="https://www.deathstar.xyz/news.xml" />
    <setting id="metadata" value="false" />
    <setting id="movie_metadata_provider" value="Trakt" />
    <setting id="news_win" value="true" />
    <setting id="root_xml" value="aHR0cDovL2RlYXRoc3Rhci54eXovZHNtYWluLnhtbA==" />
    <setting id="search_db_location" value="" />
    <setting id="settings_context" value="true" />
    <setting id="tmdb_api_key" value="05255aa68df8270bf028f182b01ad799" />
    <setting id="trailer_context" value="true" />
    <setting id="trakt_api_client_id" value="b84b41aab8d4a0e18f1205c70cd5b8db8aad887e45bd9e981666f1342ec75001" />
    <setting id="trakt_api_client_secret" value="9a16ab35e55bcfb0f09fdb5b10e96493296242e5f358d3825357ef4d51bae69c" />
    <setting id="tv_metadata_provider" value="Trakt" />
    <setting id="tvdb_api_key" value="34148470FD68E26B" />
    <setting id="use_link_dialog" value="true" />
</settings>
